html {
    font-family: metropolis,sans-serif;
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
    line-height: 1.6875rem;
}

.button {
    color: #fff;
    background-color: #0d77b5;
    display:inline-flex;
    align-items: center;
    padding-top: 1px;
    padding-right: 1.6875rem;
    padding-bottom: 0;
    padding-left: 1.6875rem;
    line-height: 1.125rem;
    height: 3.375rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: solid 2px #0d77b5;
    border-radius: 0.1875rem;
    font-family: metropolis,sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    appearance: none;
    -webkit-font-smoothing: antialiased;
}
